
@{
    ViewData["Title"] = "ContactUs";
}

<h1>Contact</h1>

<section class="contact-form section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4">Drop us a mail</h2>
            </div>
            <div class="col-12">
                <form action="">
                    <div class="row">
                        <!-- Name -->
                        <div class="col-md-6">
                            <input class="form-control main" type="text" placeholder="Name" required>
                        </div>
                        <br />
                        <!-- Email -->
                        <div class="col-md-6">
                            <input class="form-control main" type="email" placeholder="Your Email Address" required>
                        </div>
                        <!-- subject -->
                        <div class="col-md-12">
                            <input class="form-control main" type="text" placeholder="Subject" required>
                        </div>
                        <!-- Message -->
                        <div class="col-md-12">
                            <textarea class="form-control main" name="message" rows="10" placeholder="Your Message"></textarea>
                        </div>
                        <!-- Submit Button -->
                        <div class="col-3 text-right" >
                            <button   type="submit" class="btn btn-primary form-control">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


