@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h2 class="display-4">Welcome  to Apriori Algothim </h2>
        This application is implementation of Apriori Algorithm
        <br> to identify frequent diseases .
    </div>
